/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1;
  /*     background: -webkit-linear-gradient(-45deg, #7db9e8 0%, #877ab7 51%, #502e75 100%); */ }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

nav {
  height: 73px;
  padding: 11px;
  box-sizing: border-box;
  background-color: transparent;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  width: 100%;
  color: white; }

.index-body {
  background: -moz-linear-gradient(-45deg, #7db9e8 0%, #614dab 51%, #502e75 100%);
  background: -webkit-linear-gradient(-45deg, #7db9e8 0%, #614dab 51%, #502e75 100%);
  background: linear-gradient(-45deg, #502e75 0%, #614dab 51%, #7db9e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#502e75',GradientType=1 ); }

.body-redirect {
  height: 100%; }

.container {
  min-height: 100%;
  position: relative; }

.main {
  width: 100%;
  overflow: auto;
  background-size: cover;
  position: relative;
  padding-bottom: 27px; }

html {
  overflow-y: scroll;
  font-family: "Open Sans", sans-serif;
  min-height: 100%; }

.logo, .logo-second {
  font-weight: 700;
  margin-left: 11px;
  margin-right: 11px;
  font-size: 1.381966011rem; }

.logo-second {
  font-weight: 600; }

.logo a, .logo-second a {
  color: white;
  text-decoration: none; }

.logo-second a {
  color: #333;
  text-decoration: none; }

.home, .about, .mission {
  margin-left: 17px; }

.home-second, .about-second, .mission-second {
  margin-left: 17px; }

.home a, .about a, .mission a {
  text-decoration: none;
  color: white; }

.home-second a, .about-second a, .mission-second a {
  text-decoration: none;
  color: #333; }

.link-label {
  color: white; }

.column {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

.title {
  color: white;
  font-weight: 600;
  font-size: 2rem;
  margin-top: 45px;
  margin-bottom: 45px;
  text-align: center; }

@media screen and (min-width: 480px) {
  .title {
    margin-top: 62px;
    margin-bottom: 62px; } }
.action-form {
  text-align: center;
  width: 100%;
  margin-bottom: 17px; }

.action-support {
  text-align: center;
  height: 109px; }

.form {
  text-align: left;
  display: inline-block;
  background-color: white;
  padding: 27px;
  color: #333;
  box-sizing: border-box;
  max-width: calc(100% - 8px);
  margin: 0 4px;
  width: 488px;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.1); }

@media screen and (min-width: 480px) {
  .form {
    padding: 27px; } }
.invite-text {
  margin-bottom: 27px;
  font-weight: 600;
  font-size: 1.145898034rem; }

.form * {
  font-family: "Open Sans"; }

.form-block {
  width: 499px; }

.input {
  display: flex;
  align-items: center;
  margin-bottom: 11px; }

.input-icon {
  margin-right: 7px;
  color: #c9c9c9; }

.output-icon {
  color: #498aff;
  line-height: 28px;
  margin-right: 7px; }

.output-span {
  width: calc(100% - 47px);
  display: table-cell;
  vertical-align: middle;
  border-radius: 1px;
  padding: 7px;
  border: 1px solid #1b96f0;
  letter-spacing: 0.5px;
  font-size: 0px;
  box-sizing: border-box; }

.link-input {
  width: 100%;
  box-sizing: border-box;
  display: table-cell;
  letter-spacing: 0.5px;
  font-size: 1.090169944rem;
  padding: 7px;
  border: none;
  border: 1px solid #ececec;
  border-radius: 2px;
  font-style: italic;
  border-radius: 0; }

.line-1-smile {
  width: 1px;
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  padding-left: 11px; }

.input-line-1 {
  width: 100%;
  display: table;
  margin-bottom: 11px; }

.input-line-1-cell {
  display: table-cell;
  width: calc(100% - 47px); }

.output-span-inline-table-col1 {
  display: table-cell;
  vertical-align: middle; }

.output-span-inline-table-col2 {
  width: 100%;
  display: table-cell;
  vertical-align: middle; }

.smiletta-com {
  color: #505050;
  display: table-cell;
  vertical-align: middle;
  font-size: 1rem; }

.link-input-target {
  font-size: 1.090169944rem;
  border: 0px solid #dadada;
  vertical-align: middle;
  display: table-cell;
  width: 100%; }

.btn-submit {
  background-color: #498aff;
  border: 1px solid rgba(44, 99, 189, 0.5);
  padding: 4px 7px;
  color: white;
  font-weight: 600;
  border-radius: 2px;
  display: block;
  width: 118px;
  height: 45px;
  font-size: 1.090169944rem;
  margin-top: 17px; }

.footer-index, .footer-redirect {
  text-align: center;
  padding: 11px 11px 11px 11px;
  color: #818181;
  width: 100%;
  box-sizing: border-box; }

.footer-redirect {
  position: unset; }

.footer-characters {
  text-align: center;
  padding: 73px 11px 11px 11px;
  color: #818181;
  width: 100%;
  height: 218px;
  box-sizing: border-box; }

.footer-about {
  text-align: center;
  padding: 73px 11px 11px 11px;
  color: #818181;
  width: 100%;
  height: 218px;
  box-sizing: border-box; }

.copyright {
  margin-left: 3px; }

@media screen and (min-width: 480px) {
  .logo, .logo-second {
    margin-left: 73px;
    margin-right: 73px; }

  .about, .mission {
    margin-left: 28px; }

  .about-second, .mission-second {
    margin-left: 28px; } }
.smile-link-text {
  margin-bottom: 11px; }

.value-propositions, .value-propositions-panel {
  text-align: center;
  margin-bottom: 17px;
  color: #d7d7d7;
  font-weight: 600; }

.value-propositions-panel {
  color: #555;
  font-weight: 400; }

.value-propositions > div, .value-propositions-panel > div {
  margin: 7px;
  display: inline-block; }

.value-propositions-panel > div {
  margin: 7px;
  display: inline-block; }

.proposition-bottom {
  width: 728px;
  height: 90px;
  margin: 0 auto;
  background-color: white;
  box-sizing: border-box; }

.shorten-target-label {
  color: #333;
  display: inline;
  max-width: 268px;
  word-break: break-all;
  font-size: 0px; }

.shorten-target-label * {
  font-size: 1rem; }

.shorten-target-block {
  background-color: white;
  box-sizing: border-box;
  display: table;
  margin: 0 auto;
  width: 100%;
  /*     border: 1px solid #dadada; */
  border-width: 0px 0px 1px 0px;
  box-sizing: border-box;
  font-size: 0; }

.output-link-smile {
  display: table-cell;
  vertical-align: middle;
  width: 1px;
  padding-left: 11px;
  font-size: 1rem; }

.output-span-inline-table {
  display: table; }

.smilink-target {
  display: table-cell;
  width: 100%;
  padding: 7px;
  border: 1px solid #1b96f0;
  font-size: 1.090169944rem;
  word-break: break-all;
  text-decoration: none;
  color: #333333; }

.characters-smile-link {
  text-decoration: none;
  color: unset; }

.available-short-domain {
  display: inline-block;
  box-sizing: border-box;
  width: 282px;
  padding: 17px;
  margin-bottom: 56px;
  background-color: white;
  background-color: white;
  color: #333;
  border: 1px solid #BABABA;
  border-radius: 4px; }

.available-short-domain div[class*="char-domain"] {
  float: left;
  width: 33%; }

.available-short-domain ul {
  list-style: none; }

.available-short-domain-title {
  margin-bottom: 11px;
  text-align: left;
  font-weight: 600;
  color: #333; }

.banner {
  background-color: white;
  border-bottom: 1px solid gray; }

ul {
  display: inline-block; }

.domain {
  margin-top: 11px; }

.domain > div {
  text-align: center; }

.error-thrink {
  color: #ff3333;
  margin-top: 11px; }

.error {
  color: #ff3333; }

#link-error {
  margin-top: 11px;
  display: block; }

.generated-error {
  display: block;
  margin-top: 11px; }

.success-thrink {
  color: green;
  margin-top: 11px; }

.title-text {
  display: inline-block;
  /* 	background-color: rgba(0, 0, 0, 0.5); */
  /* 	padding: 11px; */
  /* 	border: 1px solid #343434; */ }

.shortened-text {
  color: #333;
  display: inline-block;
  background-color: white;
  font-size: 0.854101966rem;
  padding: 11px;
  box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px; }

.shortened-number {
  font-weight: 600; }

.shortened-last-month {
  margin-bottom: 27px;
  text-align: center; }

.redirect-block {
  margin-bottom: 17px;
  width: 807px;
  max-width: 100%;
  text-align: left;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 4px; }

.redirect-body {
  padding: 17px; }

.main-redirect {
  text-align: center;
  padding: 27px 17px 90px 17px; }

.redirection-title {
  font-weight: 600;
  font-size: 1.145898034rem;
  padding: 7px 7px 11px 7px;
  color: #333;
  background-color: white;
  text-align: left;
  border-radius: 4px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px; }

@media screen and (min-width: 480px) {
  .redirection-title {
    padding: 27px 27px 17px 27px; } }
.redirection-title span {
  font-size: 1.236067977rem; }

.redirect-link {
  text-decoration: underline;
  color: #0645C7;
  cursor: pointer; }

.redirect-footer {
  margin-top: 17px;
  font-size: 0.854101966rem;
  color: red; }

.redirect-footer:after {
  content: "";
  display: table;
  clear: both; }

.redirect-footer .report-icon {
  font-size: 1.145898034rem; }

.redirect-footer a {
  color: red;
  text-decoration: none; }

.redirect-footer ul {
  list-style: none;
  float: right; }

.location_disclaimer {
  margin: 17px 0;
  font-size: 0.763932023rem; }

.line {
  background-color: #d8d8d8;
  height: 1px; }

.line-title {
  background-color: #d8d8d8;
  height: 1px;
  margin: 17px -17px; }

.redirect-target {
  line-height: 1.381966011rem; }

.characters a {
  color: #d7d7d7;
  text-decoration: none; }

.characters-side a {
  color: #555;
  text-decoration: none; }

.main-characters-inner {
  background-color: white; }

.main-characters {
  text-align: center;
  margin-bottom: 17px; }

.main-characters-inner {
  display: inline-block;
  padding: 0 0 17px 0;
  margin: 0 0px;
  margin-top: 27px;
  text-align: left;
  box-sizing: border-box;
  max-width: calc(100% - 35px);
  border-radius: 4px;
  width: 807px; }

@media screen and (min-width: 480) {
  .main-characters-inner {
    margin: 0 27px; } }
.characters-title {
  font-weight: 600;
  padding: 7px;
  padding-bottom: 11px;
  text-align: left;
  font-size: 1.145898034rem; }

@media screen and (min-width: 480px) {
  .characters-title {
    padding: 27px 27px 17px 27px; } }
.user-characters {
  line-height: 2rem;
  padding: 11px 7px 7px 7px; }

@media screen and (min-width: 480px) {
  .user-characters {
    padding: 11px 27px 11px 27px; } }
.characters-panel {
  line-height: 2rem;
  max-width: 100%;
  letter-spacing: 0.145898034rem;
  padding: 0px 7px; }

@media screen and (min-width: 480px) {
  .characters-panel {
    padding: 0px 27px; } }
.mission-body {
  line-height: 2rem;
  padding: 11px 7px 17px 7px; }

@media screen and (min-width: 480px) {
  .mission-body {
    padding: 11px 27px 17px 27px; } }
p {
  margin-bottom: 11px; }

ul li {
  margin: 0px 0px 4px 0px; }

.line {
  height: 1px;
  background-color: #e4e4e4; }

.index-body {
  background-color: white;
  min-height: 100%; }

.panel-icon {
  float: left;
  font-size: 4rem;
  color: #2a5dd0; }

.panel-icon span {
  margin-left: -40px; }

#Layer_1 {
  transform: scale(2); }

.cls-1 {
  fill: #B7D0A3; }

.cls-1, .cls-2 {
  stroke: #231f20;
  stroke-linecap: round;
  stroke-miterlimit: 10; }

.cls-2 {
  fill: #e6e7e8; }

.cls-3 {
  fill: #444da1; }

.content {
  min-height: 100%;
  position: relative; }

.curr-year {
  color: #d7d7d7; }

.curr-year-side {
  color: #555; }
